
h1{
    text-align: center;
    background-color: rgb(198, 252, 198);
    text-transform: uppercase;
    margin: 1vw 5vw;
    padding: 2vw;
    border: 2px solid rgb(100, 255, 100);
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    background-color: palegoldenrod;
    margin: .5vw;
}